<form method="post" action="{{ path('app_admin_stress_threshold_delete', {'id': stress_threshold.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce seuil ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ stress_threshold.id) }}">
    <button class="btn btn-error btn-sm">Supprimer</button>
</form>
