{% extends 'admin/base_admin.html.twig' %}

{% block title %}Modifier le Seuil de Stress{% endblock %}

{% block admin_content %}
    <div class="mb-6 flex justify-between items-center">
        <h1 class="text-2xl font-bold">Modifier le seuil : {{ stress_threshold.name }}</h1>
        {{ include('admin/stress_threshold/_delete_form.html.twig', {'stress_threshold': stress_threshold}) }}
    </div>

    {{ include('admin/stress_threshold/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
{% endblock %}
