{% extends 'admin/base_admin.html.twig' %}

{% block title %}Nouveau Seuil de Stress{% endblock %}

{% block admin_content %}
    <div class="mb-6">
        <h1 class="text-2xl font-bold">Créer un nouveau seuil de stress</h1>
    </div>

    {{ include('admin/stress_threshold/_form.html.twig') }}
{% endblock %}
